{#
/**
 * @file my_awesome_entity.html.twig
 * Default theme implementation to present My awesome entity data.
 *
 * This template is used when viewing My awesome entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_my_awesome_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('my_awesome_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
