{#
/**
 * @file aaa.html.twig
 * Default theme implementation to present Aaa data.
 *
 * This template is used when viewing Aaa pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_aaa()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('aaa') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
