<html>
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  {{ entity_print_css }}
  <style type="text/css">
  article {
    font-size: 11px;
  }
  table { 
    width: 100%; 
    font-size: 11px;
  }
  header {
    margin-bottom: 45px;
  }
  h1, h2 {
    font-weight: normal;
  }
  .node--type-invoice.node--view-mode-pdf table.half td {
    width: 50%;
  }

  .node--type-invoice.node--view-mode-pdf table th {
    text-align: left;
  }

  .node--type-invoice.node--view-mode-pdf .price.summary {
    text-align: right;
  }

  .node--type-invoice.node--view-mode-pdf table.width-75 {
    width: 75%;
  }

  .node--type-invoice.node--view-mode-pdf table tr td {
    border-bottom: 1px solid #dcdcdc;
  }

  .node--type-invoice.node--view-mode-pdf table.seller-buyer tr td {
    border-bottom: none;
  }

  .node--type-invoice.node--view-mode-pdf table th {
    border-bottom: 2px solid #dcdcdc;
  }

  .right {
    text-align: right;
  }

  </style>
</head>
<body>
<div class="page">
    {{ content }}
</div>
</body>
</html>
