{#
/**
 * @file
 * Accountancy's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{%
  set classes = [
    'pdf',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
  <header>
    <table class="half">
      <tr>
        <td>
          <h1>
          {% trans %}Invoice{% endtrans %}<br />
          {{ title_prefix }}
          {% if not page %}
              {% trans %}number{% endtrans %} {{ label }}
          {% endif %}
          {{ title_suffix }}
          </h1>
        </td>
        <td>
          <div{{ attributes.addClass('date-sell')}}>{% trans %}Date of sell{% endtrans %}: {{ date }}</div>
          <div{{ attributes.addClass('date-issue')}}>{% trans %}Date of issue{% endtrans %}: {{ date }}</div>
        </td>
      </tr>
    </table>
    <table class="half seller-buyer">
      <tr>
        <td>
          <h3>{% trans %}Seller{% endtrans %}:</h3>
          Nawrot Dawid - Yamandi<br />
          ul. 15 Sierpnia 12A<br />
          27-600 Sandomierz<br />
          Polska<br /><br />

          NIP: 864-166-28-80

        </td>
        <td>
          <h3>{% trans %}Buyer{% endtrans %}:</h3>
          {{ content.field_invoice_company }}
          {{ content.field_invoice_address }}
          {{ node.field_invoice_postal_code.value }} {{ node.field_invoice_city.value }}
          {{ content.field_invoice_country }}<br />
          {% trans %}NIP{% endtrans %}: {{ node.field_invoice_nip.value }}<br />
        </td>
      </tr>
    </table>
  </header>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          {% trans %}Service name{% endtrans %}
        </th>
        <th>
          {% trans %}Legal regulation{% endtrans %}
        </th>
        <th>
          {% trans %}Qty{% endtrans %}
        </th>
        <th>
          {% trans %}Unit{% endtrans %}
        </th>
        <th>
          {% trans %}Net{% endtrans %} ({{ payment.currency }})
        </th>
        <th>
          {% trans %}VAT (%){% endtrans %}
        </th>
        <th>
          {% trans %}VAT{% endtrans %} ({{ payment.currency }})
        </th>
        <th>
          {% trans %}Total gross{% endtrans %} ({{ payment.currency }})
        </th>
      </tr>
    </thead>
    <tbody>
      {% for item in work %}
        <tr>
          <td>{{ item.service_name }}</td>
          <td>74.90.Z.</td>
          <td>1</td>
          <td>{% trans %}piece{% endtrans %}</td>
          <td>{{ item.price_net }}</td>
          <td>{{ vat }}</td>
          <td>{{ item.vat_value }}</td>
          <td>{{ item.price_gross }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="price summary">
    {# <h4>{% trans %}Total due net{% endtrans %}: {{ content.field_invoice_price }}</h4> #}
    <h4>{% trans %}Total due gros{% endtrans %}: {{ payment.field_invoice_price_gros }} {{ payment.currency }}</h4>
  </div>

  <h2>{% trans %}Summary{% endtrans %}:</h2>
  <table class="width-75 table">
    <tr>
      <td>{% trans %}Rate{% endtrans %}</td>
      <td>{% trans %}Net value{% endtrans %} ({{ payment.currency }})</td>
      <td>{% trans %}Tax value{% endtrans %} ({{ payment.currency }})</td>
      <td>{% trans %}Gros value{% endtrans %} ({{ payment.currency }})</td>
    </tr>
    <tr>
      <td>{% trans %}exempt{% endtrans %}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>0%</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>5%</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>8%</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>23%</td>
      <td>{{ payment.field_invoice_price_net }}</td>
      <td>{{ payment.tax_value }}</td>
      <td>{{ payment.field_invoice_price_gros }}</td>
    </tr>
  </table>

  {% trans %}In words{% endtrans %}: {{ payment.in_words }}<br />
  {% trans %}Payment method{% endtrans %}: {{ payment.method }}<br />
  {% trans %}Payment deadline{% endtrans %}: {{ node.field_payment_deadline.value }}<br />
  {% trans %}Bank name{% endtrans %}: {{ bank.name }}<br />
  {% trans %}SWIFT{% endtrans %}: {{ bank.swift }}<br />
  {% trans %}Account no.{% endtrans %}: {{ bank.account }}

  <div class="right">
    {% trans %}Seller{% endtrans %}<br />
    {% trans %}Dawid Nawrot{% endtrans %}
  </div>
</article>
