/*
.node--type-invoice.node--view-mode-pdf,
.node--type-invoice.node--view-mode-pdf table {
  font-size: 10px;
}
.node--type-invoice.node--view-mode-pdf table {
  width: 100%;
}

.node--type-invoice.node--view-mode-pdf table.half td {
  width: 50%;
}

.node--type-invoice.node--view-mode-pdf table th {
  text-align: left;
}

.node--type-invoice.node--view-mode-pdf .price.summary {
  text-align: right;
}

.node--type-invoice.node--view-mode-pdf table.width-75 {
  width: 75%;
}

.node--type-invoice.node--view-mode-pdf table tr td {
  border-bottom: 1px solid #dcdcdc;
}

.node--type-invoice.node--view-mode-pdf table th {
  border-bottom: 2px solid #dcdcdc;
}

.right {
  text-align: right;
}*/